@font-face {
  font-family: Primary;
  src: url(/fonts/primary.ttf);
}

* {
  box-sizing: border-box;
  font-family: Primary, sans-serif !important;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}
